// showing default values
$accentColor = #276BCC;
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;

header.navbar {
  background-color: #000;
  border-bottom: inherit;

  .links  {
    background-color: #000;
  }
  .sidebar-button, .site-name, .nav-links, .nav-links a.router-link-active {
    color: white;
    & a:hover {
      color: $borderColor;
    }
  }
}
